*{
  font-family: "Roboto Mono", Arial;
  color: $primary-dark-blue;
}

body{
  background: #f9f9f9;
}

.main-content{
  background: $background;
  margin-top: 110px;
  border-radius: 10px;
  overflow: hidden;
  @include media-breakpoint-down(md){
    margin-top: 74px;
    border-radius: 0;
  }
}

.dark-bg{
  background: $primary-blue;
}

.bg-light-row{
  background: $background;
}

.padding-inner{
  padding: 4rem 0;
}

.lead-light{
  color: rgba(255, 255, 255, 0.63);
  font-weight: normal;
}

.container-radius{
  overflow: hidden;
  &-top{
    border-radius: 10px 10px 0 0;
  }
  &-bottom{
    border-radius: 0 0 10px 10px;
  }
}

.btn{
  padding: 1rem 3rem;
  border-radius: 100px;
  transition: all 200ms ease-in-out;
  &-green{
    background: $secondary-green;
    color: white;
    box-shadow: 0px 6px 23px -12px black;
    &:hover{
      background: lighten($secondary-green, 10%);
      color:white;
      box-shadow: 0px 0px 0px 0px black;
    }
  }
}

.button-list{
  margin-bottom: 5rem;
  button{
    background: rgba(255, 255, 255, 0.32);
    color: white;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 4px;
    padding: .5rem 1rem;
    border: 2px solid white;
    letter-spacing: 1px;
    transition: 200ms ease-in-out;
    &:hover{
      background: white;
      color: $primary-blue;
      box-shadow: 0px 6px 23px -12px black;
    }
    &.active{
      background: white;
      color: $primary-blue;
      box-shadow: 0px 6px 23px -12px black;
      cursor: not-allowed;
    }
  }
}

.main-content{
  margin-bottom: 8rem;
}

.sectionTitle{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 0 .4rem .5rem .4rem;
  margin-bottom: 5rem;
  font-size: 2.8rem;
  z-index: 1;
  &--light{
    color: white;
    .bars, .bars:after, .bars:before{
      background: white;
    }
  }
  &--dark{
    color: $primary-dark-blue;
    .bars, .bars:after, .bars:before{
      background: $primary-dark-blue;
    }
  }
  .bk{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10rem;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
    color: rgba(28, 79, 141, 0.31);
    letter-spacing: 0;
  }
  .bars{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 1;
    &:after{
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 50%;
      height: 3px;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 25%;
      height: 3px;
    }
  }
}

.toTop{
  position: fixed;
  right: 10px;
  background: $primary-dark-blue;
  border: 0;
  cursor: pointer;
  z-index: 9999;
  background: white;
  border-radius: 50px;
  color: #1c508d;
  padding: .5rem 1rem;
  bottom: 10px;
  box-shadow: 0 0 10px -13px #1c508dc2, 0 0 40px -11px #1c508d;
  transform: translateX(120%);
  transition: all 200ms ease-in-out;
  &.active{
    transform: translateY(0);
  }
}
