#work{
  padding-bottom: 14rem;
  position: relative;
  margin-top: -1rem;
}

.z-2{
  position: relative;
  z-index: 2;
}

.work-top-wrap{
  width: 100%;
  padding: 4rem;
  margin-bottom: -4rem;
}

.card-holder{
  padding: 7rem 15px 7rem 15px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  margin-bottom: 1rem;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: darken($primary-blue, 20%);
    height: 100%;
    z-index: -1;
    transform: skew(12deg) rotate(12deg) translateZ(0);
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#206ac5, #2468b8);
    height: 100%;
    z-index: -1;
    transform: skew(-6deg) rotate(-6deg) translateZ(0);
  }
}

.card{
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms ease-in-out;
  box-shadow: 0px 14px 30px -16px #123661;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  img{
    max-width: 100%;
    height: 300px;
  }
  .card__text{
    background: white;
    padding: 1rem;
    width: 100%;
    h2{
      color: $primary-dark-blue;
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: bold;
    }
    p{
      color: $primary-blue;
      margin-bottom: 0;
    }
  }
  &:hover{
    box-shadow: 0px 0px 0px 0px #123661;
    transform: scale(.989);
  }
}